* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* permite scroll si se agranda */
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

canvas {
  background-color: white;
  border: 1px solid #000;
}
