body {
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.header {
  margin: auto auto -50px auto;
}

.header-title {
 font-size: 36px;
 font-weight: bold;
}

.header-subtitle {
  font-size: 18px;
  font-weight: lighter;
  margin-top: -20px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
}

.left-panel {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.center-panel {
  width: 500px;
  height: 500px;
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  text-align: justify;
}

.bottom-panel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 500px;
}

.left-panel .slider-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container span {
  margin-bottom: 14px;
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
}

.slider-vertical {
  transform: rotate(90deg);
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 550px;
  align-self: center;
  justify-self: center;
}
 
.slider-horizontal {
  margin-top: 20px;
  align-self: center;
  justify-self: center
}

.left-panel .slider-container:nth-child(1) {
  transform: translateX(65%);
  transform: translateY(5%);
}

.left-panel .slider-container:nth-child(2) {
  transform: translateX(65%);
  transform: translateY(5%);
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: red;
  outline: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  height: 10px;
  background: red;
  border-radius: 5px;
}

input[type=range]::-ms-fill-lower {
  background: red;
  border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
  background: red;
  border-radius: 5px;
}

input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

canvas {
  background-color: white;
  margin: -50px auto 0 auto;
  text-align: center;
  font-family: 'Archivo', sans-serif;
  line-height: 2;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.instrucciones {
  margin-top: -350px;
  max-width: 200px;
  font-size: 14px;
  color: black;
  line-height: 1.5;
}

.instrucciones h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: red;
}

.footer {
  width: 20%;
  margin: -50px auto 0 auto;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border-radius: 5px;
}